@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    scrollbar-width: none;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/back.webp') no-repeat center center;
    background-size: cover;
}

main {
    height: 100vh;
    position: relative;
}

#iphone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 605px;
    width: 450px;
    background-image: url("../imagens/iphone.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

iframe {
    position: relative;
    top: 18px;
    left: 89px;
    height: 573px;
    width: 267px; 
    border-radius: 30px;
}

#redes {
    justify-content: right;
    text-align: right;
    
    img {
        width: 60px;
        border-radius: 50%;
        margin: 10px 20px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
        box-sizing: border-box;
    }

    img:hover {
        border: 2px solid rgba(255, 255, 255, 0.281);
        transform: translate(-3px, -3px);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
        transition: transform 0.5s, border 0.5s;
    }
}